<section class="inicio">
    <div class="inicio-contenido">
        <h1>Hola, Soy Belen Jesus</h1>
        <h3>FullStack Developer</h3>
        <p> Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tempore porro eius molestias tempora.
            Provident quibusdam expedita nihil porro esse, facilis, cupiditate corporis laboriosam asperio
            res nam molestiae nemo quis maiores facere.</p>

        <div class="btn-box">
            <a href="#">Contratar</a>
            <a href="#">Hablar</a>
        </div>
        

    </div>
</section>