.inicio {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.inicio-contenido {
    max-width: 600px;
}

.inicio-contenido h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.inicio-contenido h3 {
    font-size: 32px;
    font-weight: 700;
    color: #cc0b4f;
}

.inicio-contenido p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.inicio-contenido .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #11a3ab;
    border: 2px solid #11a3ab;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #0bcccc;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #11a3ab;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #0bcccc;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #081b29;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;

}