<section class="inicio">
  <div class="inicio-contenido">
    <h1>Hola, Soy Belen Jesus</h1>
    <h3>FullStack Developer</h3>
    <p>Mi viaje en tecnología y programación, ha sido una emocionante travesía explorando la informática y el desarrollo
      de software. Además de mis estudios académicos, he seguido un camino autodidacta con varios cursos certificados
      que avalan mi crecimiento en este campo.</p>

    <div class="btn-box">
      <a href="#" class="btn">Contratar</a>
      <a href="#" class="btn">Hablar</a>
    </div>

    <div class="icons">
      <ul class="wrapper">
        <li class="icon git">
          <span class="tooltip">Git</span>
          <a href="https://github.com/Kiri-1" target="_blank">
            <i class='bx bxl-github'></i>
          </a>
        </li>
        <li class="icon linkedin">
          <span class="tooltip">Linkedin</span>
          <a href="https://www.linkedin.com/in/belen-jesus-2b24b1254/" target="_blank">
          <i class='bx bxl-linkedin-square'></i>
        </a>
        </li>
        <li class="icon gmail">
          <span class="tooltip">Gmail</span>
          <a href="mailto:belenjesuslp@gmail.com" target="_blank">
          <i class='bx bxs-envelope'></i>
        </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="inicio-imgHover"></div>
</section>