.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25PX;
    color: bisque;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(0, 179, 179);
}

#menu-icon {
    font-size: 3.6rem;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%
    }
}

@media (max-width: 768px) {
    .header {
        background: #081b29;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 4%;
        background: #081b29;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar a { 
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}