<header class="header">
    <a href="#" class="logo"> < .Belen. > </a>

    <div class='bx bx-menu' id="menu-icon" #menuIcon></div>

    <nav class="navbar" #navbar>
        <a [routerLink]="['/inicio']" routerLinkActive="active" [class.active]="isInicioActive()">Inicio</a>
        <a [routerLink]="['/sobremi']" routerLinkActive="active">Sobre mi</a>
        <a href="#" routerLinkActive="active">Tecnologias</a>
        <a [routerLink]="['/proyectos']" routerLinkActive="active">Proyectos</a>
        <a href="#" routerLinkActive="active">Contacto</a>

        <span class="active-nav"></span>
    </nav>
</header>