<header class="header">
    <a href="#" class="logo">
        <.Belen.>
    </a>

    <div class='bx bx-menu' id="menu-icon" #menuIcon></div>

    <nav class="navbar" #navbar>
        <a [routerLink]="['/inicio']" routerLinkActive="active" [class.active]="isInicioActive()">INICIO</a>
        <a [routerLink]="['/sobremi']" routerLinkActive="active">SOBRE MI</a>
        <a [routerLink]="['/proyectos']" routerLinkActive="active">PROYECTOS</a>
        <a href="#" routerLinkActive="active">CONTACTO</a>

        <span class="active-nav"></span>
    </nav>
</header>