
    <h2 class="tecnologias-titulo">Tecnologias</h2>
  <div class="fila">
    <div class="col">
        <h3>Datos</h3>
        <ul>
            <li>
                <strong>Github</strong>
            </li>
            <li>
                <strong>Linkedin</strong>
            </li>
            <li>
                <strong>Gmail</strong>
            </li>
            <li>
                <strong>Instagram</strong>
            </li>
            <li>
                <strong>Whatsapp</strong>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="buttons">  
            <button class="neumorphic">
              <i class='bx bxl-html5' ></i>
              <span>HTML</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxl-css3' ></i>
              <span>CSS</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxl-bootstrap' ></i>
              <span>Bootstrap</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxl-javascript' ></i>
              <span>JavaScript</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxl-typescript'></i>
              <span>Typescript</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxl-nodejs' ></i>
              <span>NodeJS</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxl-angular' ></i>
              <span>Angular</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxs-data'></i>
              <span>MySQL</span>
            </button>
            <button class="neumorphic">
              <i class='bx bxl-mongodb'></i>
              <span>MongoDB</span>
            </button>
          </div>
          
    </div>
  </div>  
