<section class="sobremi" id="sobremi">
    <h2 class="sobremi-titulo">Sobre <span>Me</span> </h2>
    <div class="sobremi-img">
        <img src="../../../assets/sobremiBELEN.jpg" alt="">
        <span class="sobremi-circulo"></span>
    </div>

    <div class="sobremi-contenido">
        <h3>Frontend Developer!</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil suscipit odit tempore ullam deserunt. Eveniet
            aliquid nemo culpa hic provident voluptas quam, consequuntur repellat sequi, illum molestias, eligendi error
            ex?</p>

        <div class="btn-box btns">
            <a href="#" class="btn">Leer Mas</a>
        </div>
    </div>
</section>