<section class="sobremi" id="sobremi">
  <h2 class="sobremi-titulo">Sobre <span>Mí</span> </h2>
  <div class="sobremi-img">
    <img src="../../../assets/sobremiBELEN.jpg" alt="">
    <span class="sobremi-circulo"></span>
  </div>

  <div class="sobremi-contenido">
    <h3>Frontend Developer!</h3>
    <p>Además de mis estudios académicos, he emprendido un camino autodidacta en la programación y cuento con varios
      cursos certificados que respaldan mi crecimiento en este campo. Mi blog es el espacio donde compartiré mis
      experiencias, proyectos destacados y conocimientos adquiridos en este emocionante viaje.</p>
  </div>
  <app-tecnologias *ngIf="mostrarTecnologias"></app-tecnologias>
  <button class="readmore-btn" (click)="toggleTecnologias()">
    <span class="book-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#000" viewBox="0 0 126 75" class="book">
        <rect stroke-width="3" stroke="#fff" rx="7.5" height="70" width="121" y="2.5" x="2.5"></rect>
        <line stroke-width="3" stroke="#fff" y2="75" x2="63.5" x1="63.5"></line>
        <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M25 20H50"></path>
        <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M101 20H76"></path>
        <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M16 30L50 30"></path>
        <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M110 30L76 30"></path>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 65 75" class="book-page">
        <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M40 20H15"></path>
        <path stroke-linecap="round" stroke-width="4" stroke="#fff" d="M49 30L15 30"></path>
        <path stroke-width="3" stroke="#fff"
          d="M2.5 2.5H55C59.1421 2.5 62.5 5.85786 62.5 10V65C62.5 69.1421 59.1421 72.5 55 72.5H2.5V2.5Z"></path>
      </svg>
    </span>
    <span class="text">{{ textoBoton }}</span>
  </button>





</section>