.sobremi {
  margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #081b29;
    padding-bottom: 6rem;
}

.sobremi-titulo {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.sobremi-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobremi-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid;
    color:rgb(20, 177, 177);
}


.readmore-btn {
    width: fit-contentd;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(20, 177, 177);
    border: none;
    border-radius: 10px;
    padding: 0px 15px;
    gap: 0px;
    transition: all 0.4s;
  }
  .book-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 45px;
    height: 100%;
  }
  .book-wrapper .book-page {
    width: 50%;
    height: auto;
    position: absolute;
  }
  .readmore-btn:hover .book-page {
    animation: paging 0.4s linear infinite;
    transform-origin: left;
  }
  .readmore-btn:hover {
    background-color: rgb(29, 250, 250);
  }
  @keyframes paging {
    0% {
      transform: rotateY(0deg) skewY(0deg);
    }
    50% {
      transform: rotateY(90deg) skewY(-20deg);
    }
    100% {
      transform: rotateY(180deg) skewY(0deg);
    }
  }
  .text {
    width: 105px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    color: #000;
  }
  