.sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #081b29;
    ;
    padding-bottom: 6rem;
}

.sobremi-titulo {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.sobremi-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}